@import url("https://fonts.googleapis.com/css2?family=Monstserrat&family=Nanum+Gothic&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nanum Gothic", sans-serif;
  color: white;
}

.scroller {
  scrollbar-color: rgb(2, 132, 199) #fff;
}

.scroller::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}

.scroller::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

.scroller::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(2, 132, 199);
}
