@import url("https://fonts.googleapis.com/css2?family=Monstserrat&family=Nanum+Gothic&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nanum Gothic", sans-serif;
  color: white;
}

.scroller {
  scrollbar-color: rgb(2, 132, 199) #fff;
}

.scroller::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}

.react-player {
  height: 65vh !important;
  width: 79% !important;
  margin-left: 125px;

  margin-top: 25px;
}

.scroller::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

.scroller::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(2, 132, 199);
}

@media screen and (max-width: 1025px) {
  .react-player {
    height: 50vh !important;
    width: 100% !important;
    margin-left: 0px;
    margin-top: 0px;
  }
}
